[submodule "backend"]
	path = simple-receipt-manager-backend
	url = https://github.com/lst97/simple-receipt-manager-backend.git
	branch = main
[submodule "frontend"]
	path = simple-receipt-manager-frontend
	url = https://github.com/lst97/simple-receipt-manager-frontend.git
	branch = main
